*{
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    margin: 0;
    padding: 0;
}

button{
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    border-color:#3882F6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:10px;
    padding-right:10px;
}

header{
    padding-bottom: 50px;
    padding-top: 10px;
}

header button{
    margin-top: 20px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 9%;
}



.logo ,h1, .main p, .main button{
    margin-left: 150px;
}

h1{
    width: 250px;
}

nav{
    padding-right: 150px;
    padding-left: 150px;
    display: flex;
    justify-content:right;
}

nav p{
    margin-left: 40px;
}

nav .logo{
    margin-left:30px;
    
}

header, footer{
    background-color: #1F2937;
    color: white;
}

.quote-container{
    background-color: #E5E7EB;
}


.main{
    display: flex;
}

.main .placeholder{
    background-color: #898b8e;
    width: 300px;
    height: auto;
    padding: 100px;
    padding-left: 150px;
    margin-left: 50px;
    margin-right: 150px;
}

.main h1{
    font-size: 40px;
    font-weight: 900;
}

.image-container{
    display: flex;
    justify-content: center;
}

.info{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.image-container .img{
    height: 100px;
    width: 100px;
    border: solid 5px #3882F6;
    margin: 10px;
    border-radius: 10px;
}


.quote-container{
    padding: 3em;
    padding-left: 40px;
    padding-right: 40px;
}

.quote-container .quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-container .auther{
    display: flex;
    justify-content: end;
}

.call-to-action-container{
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
}


.call-to-action{
    color: white;
    background-color: #3882F6;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 2.3em;
}
